# Ignore Mac system files
.DS_store

# Ignore node_modules and virtual environment folder
node_modules
venv


.idea

# ignore inputs
*.xlsx

# Ignore results
*.json
*.pyc
metadatosGestorContenido.txt
sistemasGestorContenido.txt
1_catalogo_sistemas.txt

triple-rookery-360218-1f50cc59d0e9.json